@import "utility";

//------------------------------------------------
body {
  font-size: 15px;
  color: #333;

  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

.container {
  max-width: 930px;
}

.wrapper {
  @media screen and (max-width: 767px) {
    padding: 30px 0;
  }
}

//-------------------------------------------header
.header-cv {
  background: #ededed;
  padding: 25px 35px 20px;


  @media screen and (max-width: 600px) {
    padding: 20px 0;
  }
}

.sumary-information {
  display: flex;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  .information-des {
    display: flex;
    flex: 1 auto;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 870px) {
      flex-direction: column;
    }
  }

  .avatar {
    max-width: 120px;
    margin-right: 30px;

    @media screen and (max-width: 600px) {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  .information-des {
    display: flex;
    align-items: flex-start;
  }

  .position {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 30px;

    @media screen and (max-width: 890px) {
      margin-right: 15px;
    }

    @media screen and (max-width: 767px) {
      margin-right: 0;
    }

    h1 {
      font-size: 36px;
      color: #181818;

      @media screen and (max-width: 890px) {
        font-size: 25px;
      }
    }

    > div {
      margin-left: 30px;
      padding-left: 30px;
      font-size: 26px;
      border-left: 1px dotted #c0c0c0;
      font-weight: 400;
      font-style: italic;

      @media screen and (max-width: 890px) {
        margin-left: 15px;
        padding-left: 15px;
        font-size: 25px;
      }
    }
  }

  .contact {
    font-size: 18px;
    list-style: circle;
    padding-left: 20px;

    > li {
      margin-bottom: 15px;
    }

    a {
      color: #e44b43;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//-------------------------------------------
.title-section {
  font-size: 30px;
  font-weight: 700;
  color: #2b2b2b;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 4px;

  @media screen and (max-width: 767px) {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

//-------------------------------------------
.unordered-list {
  list-style: circle;
  padding-left: 20px;

  li {
    margin-bottom: 10px;
  }
}

//-------------------------------------------
.keySkills {
  text-align: center;
  list-style: none;
  padding-left: 0;


  li {
    display: inline-block;
    background-color: #ff6666;
    color: #fff;
    border-radius: 20px;
    padding: 6px 12px;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      padding: 4px 10px;
    }
  }
}

//-------------------------------------------
.education-box {
  padding: 14px;
  border-top: 1px dotted #c0c0c0;
  border-bottom: 1px dotted #c0c0c0;

  p {
    margin-bottom: 15px;
  }

  h4 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;

    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
}

//-------------------------------------------
.work-timeline {
  display: flex;
  border-top: 1px dotted #c0c0c0;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }

  &:last-of-type {
    border-bottom: 1px dotted #c0c0c0;
  }

  p {
    margin-bottom: 10px;
  }

  .time-range {
    width: 260px;
    min-width: 260px;
    font-size: 18px;
    font-weight: 600;
    padding: 40px 20px;
    border-right: 1px dotted #c0c0c0;

    @media screen and (max-width: 767px) {
      border-right: 0;
      border-bottom: 1px dotted #c0c0c0;
      text-align: center;
      padding: 15px 30px;
    }

    img {
      max-width: 170px;
      margin-top: 15px;

      @media screen and (max-width: 767px) {
        margin-top: 0;
      }
    }
  }

  .employer {
    padding: 14px 40px 14px 20px;
    position: relative;
    cursor: pointer;

    @media screen and (max-width: 767px) {
      padding: 15px 10px;
    }

    &:hover {
      &:after {
        display: block;
      }
    }

    &.collapse-active {
      &:after {
        transform: rotate(45deg);
        transition: .3s ease-out;
      }
    }

    &:after {
      position: absolute;
      right: 10px;
      top: 50px;
      border-top: 3px solid #333;
      border-right: 3px solid #333;
      border-radius: 0 4px 0 0;
      content: "";
      width: 15px;
      height: 15px;
      transform: rotate(135deg);
      transition: .3s ease-out;
      display: none;

      @media screen and (max-width: 767px) {
        top: 20px;
        width: 12px;
        height: 12px;
      }
    }

    h4 {
      margin-bottom: 8px;
      font-size: 24px;
      font-weight: 600;

      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }

    .p-position {
      margin-bottom: 20px;
      margin-top: 20px;
    }

  }
}
